
h1{
font-family:  "Times New Roman";
font-size:30px;
color:white;
margin-left:110px;

}
h2{
font-family:  "Times New Roman";
font-size:15px;
color:white;
margin-top:-25px;
margin-left:250px;
}


div{
position: absolute;
background-size: 300px 800px;
background-color:#2E9AFE;
height:127px;
width:100%;
margin-top:-10px;

}

#header{
position: absolute;
}


h3{
position: absolute;
font-family:  "Times New Roman";
font-size:30px;
color : #2E9AFE;
margin-top:200px;
margin-left:70px;
margin-bottom:200px;

}

h4{
position: absolute;
margin-top:300px;
font-size:15px;
font-family:  "Arial";
margin-left:20px;


}



hr.ver{
position: absolute;
width:2px;
height:500px;
margin-left:500px;
border-radius: 5px;
margin-top :155px;
}

#imagen{  

width:  600px; 
height: 400px; 
margin-top:210px;
margin-left:620px;
border: 6px solid #D8D8D8;
border-radius: 5px ;

 }
form{
position: absolute;
margin-top:400px;
margin-left:110px;

}

.button{

position: absolute;
color : white;
background-color:#31B404;
}


.Contactanos
{
margin-top:700px;
background-color:white;
font-family:  "Arial";
font-size:  15px;

}